<!DOCTYPE html>

<html lang="english">
  <head>
    <title>exported project</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}
    </style>
    <style>
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./desktop132.css" rel="stylesheet" />

      <div class="desktop132-container">
        <div class="desktop132-desktop132">
          <img
            src="public/playground_assets/image11652-00b-200w.png"
            alt="image11652"
            class="desktop132-image"
          />
          <img
            src="public/playground_assets/rectangle135-ljkop-200h.png"
            alt="Rectangle135"
            class="desktop132-image01"
          />
          <span class="desktop132-text">
            <span class="desktop132-text01">List all Todo</span>
          </span>
          <span class="desktop132-text02">
            <span class="desktop132-text03">Login</span>
          </span>
          <span class="desktop132-text04">
            <span class="desktop132-text05">Todo App</span>
          </span>
          <span class="desktop132-text06">
            <span class="desktop132-text07">Good Morning,</span>
          </span>
          <span class="desktop132-text08">
            <span class="desktop132-text09">
              <span>&#123;&#123;name&#125;&#125;</span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="desktop132-text13">
            <span class="desktop132-text14">
              <span>here is your today’s briefing:</span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="desktop132-text18">
            <span class="desktop132-text19">You have</span>
          </span>
          <span class="desktop132-text20">
            <span class="desktop132-text21">There have been</span>
          </span>
          <span class="desktop132-text22">
            <span class="desktop132-text23">
              <span>&#123;&#123;no_task&#125;&#125;</span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="desktop132-text27">
            <span class="desktop132-text28">
              &#123;&#123;no_activity&#125;&#125;
            </span>
          </span>
          <span class="desktop132-text29">
            <span class="desktop132-text30">schedule for</span>
            <span class="desktop132-text31">Today</span>
          </span>
          <span class="desktop132-text32">
            <span class="desktop132-text33">Since</span>
            <span class="desktop132-text34">Yesterday</span>
          </span>
          <span class="desktop132-text35">
            <span class="desktop132-text36">Tasks</span>
          </span>
          <img
            src="public/playground_assets/image3528-ylqe-300h.png"
            alt="image3528"
            class="desktop132-image02"
          />
          <img
            src="public/playground_assets/image4530-2r5k-200h.png"
            alt="image4530"
            class="desktop132-image03"
          />
          <img
            src="public/playground_assets/image5532-uqxc-200h.png"
            alt="image5532"
            class="desktop132-image04"
          />
          <img
            src="public/playground_assets/image8639-fekf-200w.png"
            alt="image8639"
            class="desktop132-image05"
          />
          <img
            src="public/playground_assets/image9641-86n-200w.png"
            alt="image9641"
            class="desktop132-image06"
          />
          <img
            src="public/playground_assets/image10643-8rvs-200h.png"
            alt="image10643"
            class="desktop132-image07"
          />
          <span class="desktop132-text37">
            <span class="desktop132-text38">Due Today</span>
          </span>
          <span class="desktop132-text39">
            <span class="desktop132-text40">Completed</span>
          </span>
          <span class="desktop132-text41">
            <span class="desktop132-text42">Past Due</span>
          </span>
          <img
            src="public/playground_assets/rectangle2653-gewm-200h.png"
            alt="Rectangle2653"
            class="desktop132-image08"
          />
          <img
            src="public/playground_assets/rectangle4124-un1n-200h.png"
            alt="Rectangle4124"
            class="desktop132-image09"
          />
          <span class="desktop132-text43">
            <span class="desktop132-text44">Create Task</span>
          </span>
          <span class="desktop132-text45">
            <span class="desktop132-text46">View Calendar</span>
          </span>
          <img
            src="public/playground_assets/image12757-1vnn-200h.png"
            alt="image12757"
            class="desktop132-image10"
          />
          <img
            src="public/playground_assets/image2526-s34k-500w.png"
            alt="image2526"
            class="desktop132-image11"
          />
          <img
            src="public/playground_assets/rectangle3123-y4uu-700w.png"
            alt="Rectangle3123"
            class="desktop132-image12"
          />
          <span class="desktop132-text47">
            <span class="desktop132-text48">
              &#123;&#123;Description&#125;&#125;
            </span>
          </span>
          <span class="desktop132-text49">
            <span class="desktop132-text50">
              <span>&#123;&#123;Date of Due&#125;&#125;</span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="desktop132-text54">
            <span class="desktop132-text55">
              &#123;&#123;Task Name&#125;&#125;
            </span>
          </span>
          <span class="desktop132-text56">
            <span class="desktop132-text57">
              &#123;&#123;&#123;Todo priority&#125;&#125;
            </span>
          </span>
          <img
            src="public/playground_assets/image13125-wxu-200w.png"
            alt="image13125"
            class="desktop132-image13"
          />
          <img
            src="public/playground_assets/image14163-528j-400w.png"
            alt="image14163"
            class="desktop132-image14"
          />
          <img
            src="public/playground_assets/image15164-hkm-200w.png"
            alt="image15164"
            class="desktop132-image15"
          />
          <img
            src="public/playground_assets/image16169-z4g-200h.png"
            alt="image16169"
            class="desktop132-image16"
          />
        </div>
      </div>
    </div>
  </body>
</html>
